.musicbox{
	font-size: 12px;
	margin: 20px 0;
}
.player_inc{
	max-width: 300px;
	margin: auto;
}
.player_inner{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	padding: 0 8px;
	line-height: 30px;
	color: #555;
	border: 1px solid #eee;
	border-radius: 5px;
	border-color: #eee #ddd #bbb;
	box-shadow: rgba(0,0,0,.14) 0 1px 3px;
}
.player_inner span{
	height: 30px;
	margin-right: 5px;
	white-space:nowrap;
}
.playlist {
	display: none;
	z-index: 5;
	position: absolute;
	border: 1px solid #eee;
	border-radius: 5px;
	border-color: #eee #ddd #bbb;
	box-shadow: rgba(0,0,0,.14) 0 1px 3px;
	background: #eee;
}
.playlist a {
	display: block;
	cursor: pointer;
	line-height: 25px;
}
.song_name {
	width: 50%;
	text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.play_btn{
	cursor: pointer;
	background: url(button.png) 62px 0px;
}
.list_btn{
	cursor: pointer;
	background: url(button.png) 30px 0px;
}
.thisTime,.play_btn,.list_btn{
	width: 10%;
}
